.form__back {
    width: 100%;
    min-height: calc(100vh - 235px);
    background: #F9E4D9;
    min-height: calc(100vh - 235px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__front {
    display: flex;
    align-items: center;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    background-color: white;
    width: 80%;
    animation: droite 1s ease-in-out both;
}

.form__l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 672px;
    padding: 3%;
    background-color: #EEBEAA;
    box-shadow: 1px 0 0px rgba(0, 0, 0, 0.3);
}

.form__l h1{
    font-size: 35px;
    margin-bottom: 20px;
}

.form__r {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lab {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.contact__sousTitre{
    font-size: 30px;
}
.contact__par {
    font-size: 30px;
    margin-bottom: 20px;
}

.champs {
    max-width: 400px;
    width: 100%;
    max-height: 40px;
    max-width: 80%;
    padding: 5px;
    font-size: 18px;
}

.demande {
    min-height: 70px;
    resize: none;
}

.fDog {
    max-width: 400px;
    width: 80%;

}

.bouton {
    margin: 10px 0;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 900;
    background-color: #EEBEAA;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

.bouton:hover {
    background-color: #F9E4D9;
    transform: scale(1.02);
}

@media screen and (max-width: 839px){
    .fDog {
            display: none;
        }
    .form__front{
        flex-direction: column;
        width: 100%;
    }
        .lab {
            font-size: 25px;
            margin-bottom: 20px;
        }
        .form__front{
            width: 90%;
            min-width: 320px;
        }
        .form__l{
            min-height: 500px;
        }
}